
// .container{
//     width: 900px;
//     padding-top: 50px;
// }

.padding-rl{
    padding: 0 0.15rem;
}
.padding-tb{
    padding: 0.15rem 0;
}
.padding-t{
    padding-top: 0.15rem;
}
.padding-r{
    padding-right: 0.15rem;
}
.padding-b{
    padding-bottom: 0.15rem;
}
.padding-l{
    padding-left: 0.15rem;
}

.overflow-ellipsis-tow{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.14rem;
    line-height: 0.18rem;
}