
.am-navbar{
    height: 0.24rem;
    
    .am-navbar-left{
        font-size: 0.17rem !important;
        font-weight: bold;
    }

    .nav-link{
        display: flex;
        align-items: center;
        font-size: 0.15rem;
    }  
}
.am-navbar-light {
    color: #333;
}