.classify-wrapper {
    display: flex;
    flex-flow: row wrap;
    a {
        width: 0.67rem;
        height: 0.67rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.12144rem;
        font-size: 0.14rem;
        img{
            width: 0.44156rem;
            height: 0.44156rem;
        }
    }
}